- msg = 'Rails은 @@@Ruby베이스의 프레임워크입니다. Rails에 영향을 받은 프레임워크에는 Catalyst나 symfony등이 있습니다.'

= truncate(msg, length: 50)
br
= truncate(msg, length: 50, separator: '@@@')
br
== truncate(msg, length: 50, omission: '...생략...')
br
br
= excerpt(msg, 'Catalyst', radius: 10)
br
= excerpt(msg, 'Catalyst', radius: 10, omission: '~')
br
= excerpt(msg, 'Rails', radius: 5)
br
= highlight(msg, 'Rails')
br
br
= highlight(msg, ['Rails', '프레임워크'], highlighter: '<a href="search?keywd=\1">\1</a>')